[submodule "php"]
	path = php
	url = git://github.com/org-binbab/oyez-php.git
[submodule "ruby"]
	path = ruby
	url = git://github.com/org-binbab/oyez-ruby.git
[submodule "python"]
	path = python
	url = git://github.com/org-binbab/oyez-python.git
